.form-item1 {
    font-weight: 600;
}
.input-entrance {
    width: 108px;
}
.input-num-eng {
    width: 107px;
}
.input-num-liter {
    width: 125px;
}
.input-num-en {
    width: 107px;
}
.icon {
    color: rgba(0, 0, 0, 0.45);
}
.btn-add {
    margin-right: 10px;
    margin-left: 7px;
}
.Date {
    width: 318px;
    border-color: var(--border-color);
}
.Date:hover {
    background-color: var(--input-color);
    color: var(--body_color);
    border-color: var(--hover-btn);
}
.Date:focus-within {
    background-color: var(--input-color);
    color: var(--body_color);
}
.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panel-layout {
    background-color: var(--input-color);
    color: var(--body_color) !important;
    border-color: var(--border-color) !important;
}
.ant-picker-cell-in-view {
    color: var(--body_color) !important;
}
.ant-picker-dropdown .ant-picker-content th {
    color: var(--body_color) !important;
}
.ant-picker-header-view {
    color: var(--body_color) !important;
}
.ant-picker-dropdown .ant-picker-header-view button:hover {
    color: var(--hover-btn) !important;
}
.ant-picker-header {
    color: var(--body_color) !important;
}
.ant-picker-dropdown .ant-picker-ranges > li {
    color: var(--body_color) !important;
}
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    background-color: var(--input-color) !important;
}
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus {
    background-color: var(--input-color) !important;
}
.ant-input-number {
    background-color: var(--input-color);
    border-color: var(--border-color);
}
.ant-input-number:hover {
    background-color: var(--input-color);
    border-color: var(--hover-btn);
}
.ant-input-number:focus-within {
    background-color: var(--input-color);
    border-color: var(--hover-btn);
}
.ant-input-number-input {
    color: var(--body_color) !important;
}
.ant-input-number-outlined .ant-input-number-handler-wrap .ant-input-number-handler-down {
    order-block-start: 1px solid var(--border-color);
}
.ant-input-number .ant-input-number-handler-wrap {
    background-color: var(--border-color);
}

input:-webkit-autofill {
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: #ffffff; */
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--input-color);
}
.ant-input-number .ant-input-number-handler-down-inner svg {
    color: var(--body_color) !important;
}
.ant-input-number .ant-input-number-handler-up-inner svg {
    color: var(--body_color) !important;
}
.ant-modal-content {
    background-color: var(--content-color) !important;
}
.ant-modal-header {
    background-color: var(--content-color) !important;
}
.ant-modal-title {
    color: var(--body_color) !important;
}
.ant-form-item-label > label {
    color: var(--body_color) !important;
}
.ant-modal-close-x {
    color: var(--body_color) !important;
}
.ant-input-textarea-show-count .ant-input-data-count {
    color: var(--body_color);
}
.ant-picker .ant-picker-suffix {
    color: var(--placeholder-color);
}
.ant-picker-input::placeholder {
    color: var(--placeholder-color) !important;
}
