.Modal{
  margin-left: 20%;
}
.ant-descriptions-item-container .ant-descriptions-item-label{
  color:var(--id-color)
}
.ant-descriptions-item-container .ant-descriptions-item-content{
  color: var(--body_color);
}