.edit-cell{
  margin: 0px;
}
.search-column{
  padding: 8px;
}
.search-column Input {
  margin-bottom: 8px;
  display: block;
}
.search-column Button {
  width: 90px;
}
.icon{
  margin-right: 5px;
}
.ant-typography{
  margin-right:8px;
  color: var(--id-color);
}
.Layout{
  /* justify-content: center;
  align-items: center; */
  display: flex; 
    flex-grow: 1;
    overflow-x: hidden;
}
.table {
  max-width: 100%; /* Đảm bảo bảng không vượt quá kích thước của phần tử bao bọc nó */
  /* overflow-x: auto; */
}

@media (min-width: 768px) {
  /* .table {
    overflow-x: auto;
  }
  .ant-table-cell {
    white-space: nowrap; /* Ngăn văn bản xuống dòng 
  } */
  .column-id {
    width: 5%;
  }
  .column-name {
    width: 10%;
  }
  .column-email {
    width: 7%;
  }
  .column-math,
  .column-literature,
  .column-average
  .column-english {
    width: 5%;
  }
  .column-unicode{
    width: 6%;
  }
  .column-action {
    width: 7%;
  }
}
.ant-table-cell{
  background-color: var(--body_background);
  color:var(--body_color);

}
.Registered{
  color: var(--registered-color);
}
.UnRegistered{
  color:var(--unregistered-color);
}
.Can_Regist{
  color: var(--name-colorY);
}
.Not_Regist{
  color: var(--name-colorN);

}
.idOnClick{
  color:var(--id-color);
  cursor: pointer;
  background-color: var(--body--background);
  text-decoration: underline;
}
.idOnClick:hover{
  color:var(--btn-color);
}
.control{
  color:var(--id-color)
}
.control:hover{
  color:var(--btn-color);
}
.male{
  color:var(--male-color);
}
.female{
  color:var(--female-color);
}

.ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper .ant-table-thead >tr>td  {
  background: var(--header-background) ;
  color: var(--body_color) ;
  border-bottom: 1px solid var(--border-color);
}
.ant-btn{
  background-color: var(--btn-color);
  font-weight: 500;
  color: white;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper .ant-table-tbody >tr >th, :where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper .ant-table-tbody >tr >td{
  border-bottom: 1px solid var(--border-color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper td.ant-table-column-sort {
  background-color: var(--body_background);
  color: var(--body_color);
}
a:where(.css-dev-only-do-not-override-j9bb5n).ant-typography, :where(.css-dev-only-do-not-override-j9bb5n).ant-typography a{
  color: var(--id-color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-item-active{
  background-color: var(--body_background);
  border-color: var(--border-color);
  color:var(--body_color)
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-jump-next{
  color:var(--body_color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-item a{
  color: var(--body_color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis{
  color:var(--body_color);
}
.css-havevq-MuiSvgIcon-root{
  color:var(--icon-color)
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-prev .ant-pagination-item-link{
  color:var(--body_color)
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis{
  color:var(--body_color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-next .ant-pagination-item-link{
  color:var(--body_color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-options-size-changer{
  color:var(--body_color);
  background-color: var(--body_background);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-options-size-changer:hover{
 border-color:var(--hover-btn)
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper .ant-table-column-sorter{
  color:var(--body_color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination .ant-pagination-options-quick-jumper{
  color:var(--body_color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown-menu-submenu .ant-dropdown-menu{
  background-color: var(--body_background);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown .ant-dropdown-menu{
  
  background-color: var(--body_background);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item{
  color:var(--body_color) ;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-title-content{
  color:var(--body_color) ;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-icon{
  color:var(--body_color) ;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content{
  color:var(--body_color) ;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover{
  background-color: var(--border-color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-expand-icon .ant-dropdown-menu-submenu-arrow-icon{
  color: var(--body_color);
  
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-expand-icon .ant-dropdown-menu-submenu-arrow-icon{
  color: var(--body_color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-popover .ant-popover-inner{
background-color: var(--input-color );
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-popconfirm .ant-popconfirm-message .ant-popconfirm-title:only-child {
  color: var(--body_color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-dropdown .ant-table-filter-dropdown{
  background-color: var(--input-color );
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-popconfirm .ant-popconfirm-buttons button{
  background-color: var(--btn-color);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-input:placeholder-shown{
  background-color: var(--input-color);
  border-color:var(--border-color);
  color: var(--placeholder-color)
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color:var(--hover-btn);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
  background-color:var(--hover-btn);
  color:white
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover{
   background-color:var(--hover-btn);
  color:white
}
