
.edit-cell{
  margin: 0;
}
.search-column{
  padding: 8;
}
.search-column Input {
  margin-bottom: 8;
  display: block;
}
.search-column Button {
  width: 90;
}
.icon{
  margin-right: 5;
}
.ant-typography{
  margin-right:8px;
  color: var(--id-color);
}
.Layout{
  justify-content: center;
  align-items: center;

 
}
.ant-table-cell{
  background-color: var(--body_background);
  color:var(--body_color);
  border-bottom: var(--border-color);
}
.Registered{
  color: var(--registered-color);
}
.UnRegistered{
  color:var(--unregistered-color);
}
.Can_Regist{
  color: var(--name-colorY);
}
.Not_Regist{
  color: var(--name-colorN);

}
.idOnClick{
  color:var(--id-color);
  cursor: pointer;
  background-color: var(--body--background);
  text-decoration: underline;
}
.control{
  color:var(--id-color)
}
.male{
  color:var(--male-color);
}
.female{
  color:var(--female-color);
}
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  background: var(--header-color) ;
  color: var(--body_color) ;
}
