.edit-cell{
  margin: 0;
}
.search-column{
  padding: 8;
}
.search-column Input {
  margin-bottom: 8;
  display: block;
}
.search-column Button {
  width: 90;
}
.icon{
  margin-right: 5;
}
.Typo_link{
  margin-right:8px;
}
.Layout{
  justify-content: center;
  align-items: center;
 
}
.ant-table-container{
background-color: var(--body_background);
color:var(--body_color)
}
