@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
.app,
.content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
:root {
    --chart-color: white;
    --placeholder-color: #d2dae2;
    --input-color: #fff;
    --hover-btn: #003865;
    --icon-color:  #333333;
    --color-active:  rgb(7, 153, 244);
    --body_background: white;
    --sidebar-color: #f1f2f6;
    --navbar-color: white;
    --content-color: white;
    --btn-color: rgb(7, 153, 244);
    --header-background: #f1f2f6;
    --body_color: #333;
    --registered-color: green;
    --unregistered-color: red;
    --border-color: #dfe4ea;
    --name-colorY: #ff8c00;
    --name-colorN: black;
    --id-color: blue;
    --male-color: rgb(6, 26, 205);
    --female-color: rgb(239, 73, 101);
}
[data-theme='dark'] {
    --chart-color: #141414;
    --sidebar-color: #3d3d3d;
    --placeholder-color: #ced6e0;
    --input-color: #485460;
    --hover-btn: #ff8c00;
    --icon-color: #ff7f50;
    --color-active:  #ced6e0 ;
    --body_background: #3d3d3d;
    --content-color: #2f3640;
    --btn-color: #ff7f50;
    --navbar-color: #353b48;
    --header-background: #4b4b4b;
    --body_color: white;
    --registered-color: greenyellow;
    --unregistered-color: #ff4757;
    --border-color: #596275;
    --name-colorY: #ffd32a;
    --name-colorN: #fff;
    --id-color: #33d9b2;
    --male-color: #25ccf7;
    --female-color: #fda7df;
    --droplng: #ff7f50;
    
}
.app {
    display: flex;
    /* position: relative; */
    flex-direction: row;
    height: 100vh;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}
::-webkit-scrollbar {
    display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.app {
    background-color: var(--content-color);
}
.content {
    background-color: var(--content-color);
}
.css-70qvj9 {
    color: var(--body_color);
    font-weight: 600;
}
.css-48zvm2-MuiTypography-root {
    color: var(--body_color) !important;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper .ant-table-filter-trigger {
    color: var(--body-color);
}

.username {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}
.ant-input-outlined[disabled] {
    color: var(--placeholder-color) !important;
}
.css-hxopmt {
    padding: 18px !important;
}
