* {
    padding: 0;
    margin: 0;
}
.pr-container {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: scroll;
    background-color: var(--content-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: #fff; */
}
.pr {
    font-size: 30px;
}

.col2 {
    width: auto;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body_background);
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;
    grid-gap: 20px;
    margin-right: 10px;
    overflow: hidden;
}
.col1 {
    width: auto;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--body_background);

    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;
    grid-gap: 15px;
    margin-left: 10px;

    overflow: hidden;
}

.col2:hover {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.2);
}
.col1:hover {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.2);
}
.detail-item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.detail-item-input {
    width: 30%;

    display: flex;
    align-items: center;
    gap: 10px;
}
.detail-item-input h1 {
    margin: 0;
    width: auto;
    font-size: 15px;
}
.detail-item h1 {
    margin: 0;
    width: auto;
    font-size: 15px;
}
.date {
    display: flex;
    gap: 30px;
}
.date-detail {
    display: flex;
    gap: 30px;
}
h1 {
    font-size: 13px;
    font-weight: 300;
}

.label-input {
    color: #fff;
}

.g-s {
    height: 30px;
    width: 200px;
    font-size: 14px;
}

.btn-save {
    width: 100px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.btn-save span {
    margin-left: 10px;
}

.custom-select .ant-select-selector {
    font-size: 16px;
}

.pro-content {
    display: grid;
    grid-template-columns: 33% 64.5%;
    column-gap: 2.5%;
    margin: 20px;
    position: fixed;
}

input[type='file'] {
    display: none;
}
input[type='button'] {
    display: none;
}

.pr-btn {
    width: 200px;
    display: flex;
    column-gap: 10px;
}
.pr-input {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
}
.avatar {
    width: 150px;
    height: 150px;
}
.avatar-container {
    position: relative;
    display: inline-block;
    border-radius: 50%; /* Làm hình tròn */
    width: 200px; /* Kích thước ảnh */
    height: 200px; /* Kích thước ảnh */
}

.avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px; /* Kích thước giống với cha (.avatar-container) */
    height: 150px; /* Kích thước giống với cha (.avatar-container) */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 50%; /* Hiệu ứng hiển thị mờ */
}

.avatar-container:hover .avatar-overlay {
    opacity: 1; /* Hiển thị khi di chuột vào */
}

.avatar-overlay label {
    cursor: pointer;
}

.save-icon {
    cursor: pointer;
}
.CameraIcon {
    font-size: 50px;
    color: white;
}

.avatar-input {
    display: none;
}

.InfoCircleOutlined {
    color: 'rgba(0,0,0,.45)';
}
.university {
    height: auto;
    cursor: pointer;
}

.pr-score {
    height: 30px;
    width: 40%;
    font-size: 14px;
}

.pr-ID {
    width: 300x;
}
.pr-gender {
    width: 300x;
}

.pr-ethnicity {
    width: 300x;
}

.pr-place-birth {
    width: 300x;
}
.pr-CCCD {
    width: 300x;
}

.pr-email {
    width: 300x;
}
.detail-item-university {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.detail-item-university h1 {
    font-size: 16px;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 0;
}
.col2 .table {
    margin: 0;
}
