.container {
    width: 100%;
    height: auto;
    /* background-color: #fff; */
}
.pr {
    font-size: 30px;
}

.full-name {
    display: flex;
    align-items: center;
    gap: 30px;
}
.full-name h1 {
    width: 150px;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 5px 0;
}
.detail-item h1 {
    width: 100px;
}
.date {
    display: flex;
    gap: 30px;
}
.date-detail {
    display: flex;
    gap: 30px;
}
h1 {
    font-size: 13px;
    font-weight: 300;
}

.label-input {
    color: #fff;
}

.g-s {
    height: 30px;
    width: 200px;
}

.btn-save {
    width: 100px;
    height: 50px;
    font-size: 20px;
}
.input {
    display: grid;
    grid-template-columns: repeat(2, 450px);
}

.uni {
    width: 500px;
    height: 300px;
}
.custom-select .ant-select-selector {
    font-size: 16px;
}

.size-input {
    font-size: 14px;
}

.pr-content {
    display: flex;
    column-gap: 20px;
}

input[type='file'] {
    display: none;
}
input[type='button'] {
    display: none;
}

.pr-btn {
    width: 200px;
    display: flex;
    column-gap: 10px;
}
.avatar {
    width: 200px;
    height: 200px;
}
.avatar-container {
    position: relative;
    display: inline-block;
    border-radius: 50%; /* Làm hình tròn */
    width: 200px; /* Kích thước ảnh */
    height: 200px; /* Kích thước ảnh */
}

.avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; /* Kích thước giống với cha (.avatar-container) */
    height: 200px; /* Kích thước giống với cha (.avatar-container) */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 50%; /* Hiệu ứng hiển thị mờ */
}

.avatar-container:hover .avatar-overlay {
    opacity: 1; /* Hiển thị khi di chuột vào */
}

.avatar-overlay label {
    cursor: pointer;
}

.save-icon {
    cursor: pointer;
}
.CameraIcon {
    font-size: 50px;
    color: white;
}

.avatar-input {
    display: none;
}

.addr {
    width: 300px;
}
.ethnicity {
    width: 200px;
}
.InfoCircleOutlined {
    color: 'rgba(0,0,0,.45)';
}
.university {
    width: 800px;
    cursor: pointer;
}
.table {
    margin-top: 20px;
}
