.getColumnSearchProps {
    padding: 8px;

}
.getColumnSearchProps-Input {
    margin-bottom: 8px;
    display: 'block';
}
.getColumnSearchProps-Button {
    width: 100px;
}
.getColumnClose-Button {
    width: 80px;
}
.getColumnSearchProps-filterIcon {
    color: #1677ff;
}
