.form-editCell{
    margin: 0;
}
.filter{
    padding: 8px;
}
.search{
    margin-bottom: 8px;
    display: block;
}
.Layout {
    display: flex; 
    flex-grow: 1;
    overflow-x: hidden;
}
.table{
    max-width: 100%;
}
/* button filter */
.all-btn-filter{
    width: 90px;
}
.ic-search{
    color: '#1677ff'
}
.typolink{
    margin-right: 8px;
}
.ant-table-cell-fix-right {
    background-color: var(--body_background) !important;
}
.uniYes{
    color:var(--registered-color);
}
.uniNo{
    color:var(--unregistered-color);
}