.form-editCell {
    margin: 0;
}

.filter {
    padding: 8px;
}
.search {
    margin-bottom: 8px;
    display: block;
}
.Layout {
    display: flex; 
    flex-grow: 1;
    overflow-x: hidden;
}
.table{
    max-width: 100%;
}
/* button filter */
.all-btn-filter {
    width: 90px;
}

.ic-search {
    color: '#1677ff';
}
.LayoutUni{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
}
.rowUni{
    background-color: var(--body_background);
    color: var(--body_color); 
    border-bottom: 1px solid var(--border-color) !important 
}
.typolink{
    margin-right: 8px;
}

.ant-table-cell-fix-right {
    background-color: var(--body_background) !important;
}

.uniYes {
    color: var(--registered-color);
}
.uniNo{
    color:var(--unregistered-color);
}
.ant-descriptions .ant-descriptions-title{
    color:var(--body_color) !important;
}
.ant-typography:hover{
    color:var(--hover-btn) !important;
}
.idOnclick{
   text-decoration:underline !important;
}