
/* button */
.btn-addUni{
    margin-bottom: 20px;
}
.form-item2{
    font-weight: 600;
    width: 150px;
}
/* input */
.ip-textArea{
    width: 393px;
}
.ip-number1{
    width: 165px;
}
.ip-number2{
    width: 165px;
}
.ip-UniName{
    width: 392px;
}
.ip-UniCode{
    width: 165px;
}
/* icon */
.ic-bank{
    color: rgba(0,0,0,.25);
}
.ic-info{
    color: rgba(0,0,0,.45);
}