/* button */
.btn-addUni {
    margin-left: 9px;
}
.ip-textArea {
    width: 393px;
}
.ip-number1 {
    width: 186px;
}
.ip-number1 input::placeholder {
    color: var(--placeholder-color) !important;
}
.ip-number2 input::placeholder {
    color: var(--placeholder-color) !important;
}
.ip-number2 {
    width: 186px;
}
.ip-UniName {
    width: 392px;
}
.ip-UniCode {
    width: 185px;
}
.custom-ok-button.ant-btn[disabled] {
    color: var(--name-colorN);
}
/* icon */
.ic-bank {
    color: var(--name-colorN);
}
.ic-info {
    color: var(--name-colorN);
}

.form-item2 {
    font-weight: 600;
}
.form-item2 .ant-form-item-label {
    white-space: nowrap; /* Giữ cho văn bản không bị xuống dòng */
    text-align: left;
}

.form-item2 .ant-form-item-control {
    width: 100%; /* Đảm bảo trường nhập liệu chiếm toàn bộ không gian có sẵn */
    font-weight: 550;
}

.result-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--name-colorN);
}
.ant-modal-footer :where(.css-dev-only-do-not-override-1okl62o).ant-btn-default {
    border: none;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-input-affix-wrapper .ant-input-clear-icon {
    color: var(--placeholder-color) !important;
}
.custom-ok-button.ant-btn[disabled] {
    color: vaR(--ok-color);
}
