
/* button */
.btn-addUni{
    margin-left: 9px;
}
.ip-textArea{
    width: 393px;
}
.ip-number1{
    width: 186px;
}
.ip-number2{
    width: 186px;
}
.ip-UniName{
    width: 392px;
}
.ip-UniCode{
    width: 185px;
}
/* icon */
.ic-bank{
    color: rgb(0, 0, 0);
}
.ic-info{
    color: rgb(0, 0, 0);
}

.form-item2 {
    font-weight: 600;
}
.form-item2 .ant-form-item-label {
    white-space: nowrap; /* Giữ cho văn bản không bị xuống dòng */
    text-align: left; 
}

.form-item2 .ant-form-item-control {
    width: 100%; /* Đảm bảo trường nhập liệu chiếm toàn bộ không gian có sẵn */
    font-weight: 550;
}

.result-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--name-colorN);
}
